# MongoDB Connection
# Replace with your MongoDB Atlas URI when deployed
MONGO_URI=mongodb:mongodb+srv://itxahsan845_db_user:Khan6023@cluster0.n1xsgdn.mongodb.net/rental_db?appName=Cluster0
JWT_SECRET=biterush-super-secret-key-change-this-to-something-random-2024
# Server Port
PORT=5000

# Frontend URL (replace with your deployed frontend URL)
FRONTEND_URL=https://ahsanfast.netlify.app
